extends studylayout

block customhead
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/evaluate.js")
 
block content
  #msg Status
  ul
    li#status
  input(id="eval" type="button", size="30", value="Evaluate" class="add")

block backward
  a(href="/studies/" + study + "/specification" class="navbutton") Back to Specification
block forward
  a(href="/studies/" + study + "/summary" class="navbutton") Next to Summary

