extends layout

block customhead
  script(src="/javascripts/index.js")
  
block content
  table#login
    tbody
      tr
        td
          input(id="username" type="input", size="30", placeholder="username")
        td
          input(id="login" type="button", size="30", value="Login")
