extends layout
  
block content
  form(method="post", action="/login")
    input(id="username" type="input", size="30", placeholder="username", name="username")
    input(id="login" type="submit", size="30", value="Login")
