doctype html
html
  head
    title= title
    block head
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='https://code.jquery.com/jquery-1.12.0.js')
    block customhead
  body
    #main
      #tool
        h3 
          center HyperStudy WebApp v0.1
        block logout
      #work
        block contentarea
          h3 #{title}
        block content
      #nav
        table.navtable
          tbody
            tr
              td.navlink
                block backward
              td.navlink
                block index
              td.navlink
                block forward
        center
          small &copy; Copyright 2016 Altair Engineering, Inc. All Rights Reserved.
