doctype html
html
  head
    title= title
    block head
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='https://code.jquery.com/jquery-1.12.0.js')
  body
    #main
      #back
        block backward
      #work
        block content
          h1 #{title}
      #next
        block forward
