extends studylayout

block customhead
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/responses.js")

block content
  input(id="new" type="button", size="30", value="New Response")
  table#list.tbl
    thead
      tr
        td State
        td Label
        td Varname
        td Equation
        td ModelParameter
        td MinValueAttr
        td InitialValue
        td MaxValueAttr
        td MasterEvaluator
        td Comment
        td
    tbody
 
block backward
  a(href="/studies/" + study + "/variables") Back to Variables

block forward
  a(href="/studies/" + study + "/specification") Next to Specification

