extends studylayout

block customhead
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/specification.js")

block content
  table
    thead
      tr
        td Engine
        td Settings
    tbody
      tr
        td
          table#perturb.tbl
            thead
              tr
                td Active
                td Label
                td Varname
                td State
                td Comment
            tbody
        td
          table#props.tbl
            thead
              tr
                td Label
                td Value
            tbody

block backward
  a(href="/studies/" + study + "/responses") Back to Responses
block forward
  a(href="/studies/" + study + "/evaluate") Next to Evaluate
