doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js")
    script(src="/javascripts/studies.js")
  body
    h1 #{title}
    p #{title}
    table#list
      tbody
