extends layout

block customhead
  script(src="/javascripts/studies.js")

block logout
  a(href="/logout" class="logoutbutton") Logout
  
block content
  input(id="new" type="button", size="30", value="New Study" class="add")
  table#list.tbl
    thead
      tr
        td Id
        td Server Directory
        td
    tbody
