extends layout

append head
  script(src="/javascripts/studies.js")

append content
  input(id="new" type="button", size="30", value="New Study")
  table#list.tbl
    thead
      tr
        td Id
        td Server Directory
        td
    tbody
