extends studylayout

block customhead
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/study.js")

block content
  table#list.tbl
    thead
      tr
        td Label
        td Varname
        td Comment
    tbody

block backward
  a(href="/studies") Back to Studies
block forward
  a(href="/studies/" + study + "/variables") Next to Variables
