doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-1.12.0.js")
    script(src="/javascripts/studies.js")
  body
    h1 #{title}
    input(id="new" type="button", size="30", value="New Study")
    table#list
      tbody
