extends layout

append head
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/study.js")

append backward
  p
    a(href="/studies") Back to Studies

append content
  table#list.tbl
    thead
      tr
        td Label
        td Varname
        td Comment
    tbody

append forward
  p
    a(href="/studies/" + study + "/variables") Next to Variables
