extends layout

append head
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/study.js")

append content
  p
    a(href="/studies") Back to Studies
  table#list
    tbody
