extends layout

append head
  script.
    var study = !{JSON.stringify(study)};
    
block logout
  a(href="/logout" class="logoutbutton") Logout
  
block index
  a(href="/studies/" + study + "/studyindex") Index
