extends studylayout

block customhead
  script(src="/javascripts/summary.js")

block content
  table#list.tbl
    thead
    tbody
 
block backward
  a(href="/studies/" + study + "/evaluate" class="navbutton") Back to Evaluate
block forward
  a(href="/studies/" + study + "/plot" class="navbutton") Next to Plot
