extends layout

append head
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/summary.js")
 
append backward
  p
    a(href="/studies/" + study + "/evaluate") Back to Evaluate

append content
  table#list.tbl
    thead
    tbody

append forward
  p
    a(href="/studies/" + study) Next to Studies

