extends studylayout

block customhead
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/summary.js")

block content
  table#list.tbl
    thead
    tbody
 
block backward
  a(href="/studies/" + study + "/evaluate") Back to Evaluate
