extends layout

append head
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/variables.js")
 
append backward
  p
    a(href="/studies/" + study) Back to Study

append content
  table#list
    tbody

append forward
  p
    a(href="/studies/" + study + "/responses") Next to Responses

