extends studylayout

block customhead
  script.
    var study = !{JSON.stringify(study)};
  script(src="/javascripts/variables.js")

block content
  input(id="new" type="button", size="30", value="New Variable")
  table#list.tbl
    thead
      tr
        td State
        td Label
        td Varname
        td Equation
        td ParamRefAttr
        td Category
        td Role
        td Levels
        td RoleDesc
        td DataType
        td MinValueAttr
        td InitialValue
        td MaxValueAttr
        td DataMode
        td Levels
        td Distribution
        td Alpha
        td Beta
        td DataMode
        td Comment
        td
    tbody
 
block backward
  a(href="/studies/" + study class="navbutton") Back to Study

block forward
  a(href="/studies/" + study + "/responses" class="navbutton") Next to Responses

